<div class="row">
    <div class="col-md-12">
        <h2 class="bold">{{name}} {{#unless name}} Untitled {{/unless}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-columns">
            {{#each Items}}
            <div class="card" style="width: 18rem;">
                <a href="{{imageUrl}}">
                    <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" style="max-height: 300px; object-fit:cover">
                </a>
                <div class="card-body">
                    <h5 class="card-title bold" style="font-size: 1.2rem">{{name}} {{#unless name}} Untitled {{/unless}}</h5>
                    <p class="card-text thin" style="font-size: 1.2rem">{{description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>