<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-11 text-left">
                            <h2 class="bold">{{name}}</h2>
                        </div>
                        {{#compare @root.activeUser.name User.name}}
                        <div class="col-md-1 text-right">
                            <h2 class="thin">{{#if @root.isAdmin}}<i class="far fa-trash-alt deleteReq" data-id="{{id}}"></i>{{/if}}</h2>
                        </div>
                        {{/compare}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class={{#unless @root.activeUser}}"col-md-12"{{/unless}}{{#if @root.activeUser}}"col-md-9"{{/if}}>
                            <h2 class="thin" style="font-size: 1.2rem">{{description}}</h2>
                        </div>
                        {{#if @root.activeUser}}
                        <div class="col-md-3 text-right bold" style="font-size: 1rem">
                            <a class="btn btn-lg btn-light" href="/opportunities/{{@root.activeUser.id}}/apply/{{id}}">Details ></a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{#compare @root.activeUser.name User.name operator="!="}}<h2 class="bold" style="font-size: 1rem">Posted by: <span class="bold" style="font-size: 1rem">{{User.name}}</span></h2>{{/compare}}
                {{#compare @root.activeUser.name User.name}}<h2 class="bold" style="font-size: 1rem">Posted by: <span class="bold" style="font-size: 1rem">You</span></h2>{{/compare}}
            </div>
        </div>
    </div>
</div>